@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root  {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #7159c1;
    color: #fff;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &__link {
        text-decoration: none;
        color: white;
        margin-left: .5rem;
    }
}

header a {
    color: #fff;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    margin-right: 1rem;
}

main {
    flex-grow: 1;
    padding: 0.5rem;
    background-color: #c8bfe7;
    text-align: center;
}

main h2{
    text-align: center;
    
}
 
// main div {
//     background-color: #b1a6d6;
//     text-align: center;
//     padding-top: 1rem;
    
// }

main p {
    padding-top: .5rem;
    font-weight: bold;
    font-size: 17px;
}



footer {
    background-color: #7159c1;
    color: #fff;
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    
}


.header__navbar a{
    color: #fff;
    padding: 1rem 0.5rem;
}


.material-icons{
    color: rgb(221, 82, 82);
}






/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/